{% if request.user.is_authenticated %}

<p>{{request.user}}</p>
    <a href="{% url 'Logout' %}">Salir</a>
{% else %}

    <a href="{% url 'Logueo' %}">Ingresar</a>

{% endif %}
<hr>


<h1>Lista de Productos</h1>
<h2><a href="{% url 'AgrProducto' %}">Agregar Producto</a></h2>


<table>
    <tr>
        <th>Productos</th><br>
    </tr>

    {% for Producto in productos %}

    <tr>
        <td>{{Producto.nombre}}</td>
        <td><a href="{% url 'Productodetalle' Producto.id %}">Ver</a></td>
        <td><a href="{% url 'Modproducto' Producto.id %}">Editar</a></td>
        <td><a href="{% url 'ElimProducto' Producto.id %}">Eliminar</a></td>
    </tr>




    {% endfor %}
</table>